/* Table of Content
==================================================
	#Homepage Styles
	#Page Styles
	#Media Queries
	#Font-Face */
:root{
	--heading-font: "Biryani", sans-serif;
}
html, body, #wrapper {
	height: 100%;
	font-family: "Roboto", sans-serif;
}
body #main{
	width:100%;
	padding:0;
	margin:0 auto;
	padding-top: 91px;
}
*{
	padding:0;
	margin:0;
}

table{
	width: 100%;
}
table, th, td {
    border: 1px solid #1a5f80;
    border-collapse: collapse;    
}
th, td {
    padding: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
th {
    background-color: #104660;
    color: #fff;
}

a{
	cursor: pointer;
	display: inline-block;
}

span{
	display: inline-block;
}

p{
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #000;
	padding: 0 0 15px 0;
}

ul{
	padding: 0 0 0 18px;
}
li{
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #000;
	padding: 0 0 15px 0;
	list-style: disc;
}

/* #Grid system
================================================== */
.container{
	width:1170px;
	margin:0 auto;
}
.container:before, .container:after, .row:before, .row:after{
	content:"";
	display:table;
}
.container:after, .row:after{clear:both;}
.row{
	margin-left:-10px;
	margin-right:-10px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	float:left;
}

.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.flt-right { float: right; }
.flt-left { float: left; }

.clr{
	clear:both;
}

/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index: 999;
/*	padding: 15px 0;*/
	background:#000;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
/*	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
header .logo {
	width: 200px;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding:0 0 0 0;
}
header nav {
	display: inline-block;
	float: right;
	padding: 0% 0% 0% 0%;
	background-color: transparent;
	margin-top: 0px;
/*	width: 68%;*/
	width: unset;
}
header.smaller {
	top:0;
	background-color: transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background:#fff;
	padding: 10px 0;
}
header.smaller .logo {
	width: 150px;
}
header.smaller nav {
	display: inline-block;
	float: left;
	padding:0% 0% 0% 0%;
	margin-top: 0%;
}



header .inner_container{
	display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 15px 0;
}

header .inner_container .ace-responsive-menu > li > a{
	color: #fff;
}
header .inner_container .ace-responsive-menu > li > a span{
	color: #fff;
	font-size: 14px;
	text-transform: none;
	padding: 0;
}

.heading{
	font-family: var(--heading-font);
	font-size: 36px;
	line-height: 1.2em;
	color: #000;
	padding: 0 0 15px;
	font-weight: 200;
}
.title{
	font-family: var(--heading-font);
	font-size: 28px;
	line-height: 1.2em;
	color: #000;
	padding: 0 0 15px;
	font-weight: 200;
}

/*hero*/
.hero{
	position: relative;
}
.hero .text_box{
	position: absolute;
	left: 0;
	bottom: 0;
/*	width: 60%;*/
	height: 100%;
	padding: 0 0 0 calc(50% - 585px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero .text_box .heading{
	font-size: 54px;
	font-weight: 200;
}
.hero .text_box p{
	font-size: 16px;
	width: 50%;
}

/*img_txt_boxes_wrapper*/
.img_txt_boxes_wrapper .img_txt_box .inner_container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 0 100px;
}
.img_txt_boxes_wrapper .img_txt_box:first-child .inner_container{
	padding-top: 100px;
}
.img_txt_boxes_wrapper .img_txt_box:nth-child(even) .inner_container{
	display: flex;
	flex-direction: row-reverse;
}
.img_txt_boxes_wrapper .img_txt_box .inner_container .text_box{
	width: 70%;
}
.img_txt_boxes_wrapper .img_txt_box:nth-child(odd) .inner_container .img_box{
	padding: 0 10px 0 0;
}
.img_txt_boxes_wrapper .img_txt_box:nth-child(odd) .inner_container .text_box{
	margin: 0 0 0 10px;
}
.img_txt_boxes_wrapper .img_txt_box:nth-child(even) .inner_container .img_box{
	padding: 0 0 0 10px;
}
.img_txt_boxes_wrapper .img_txt_box:nth-child(even) .inner_container .text_box{
	margin: 0 10px 0 0;
}

/*section_two*/
.section_two{
	padding: 100px 0;
	background: #f3f3f4;
}
.section_two .inner_container{
	display: flex;
	flex-wrap: wrap;
}
.section_two .box .img_box{
	padding: 0 0 20px 0;
}

footer{
	background: #000;
	padding: 50px 0;
}
footer .inner_container{
	display: flex;
	align-items: center;
}
footer .logo a{
	width: 100%;
}
footer .logo a img{
	width: 100%;
}
footer .menu_links{
	display: flex;
	align-items: center;
	justify-content: center;
}
footer ul{
	padding: 0;
}
footer ul li{
	list-style: none;
	display: inline-block;
	padding: 0 30px 0 0;
}
footer ul li:last-child{
	padding: 0;
}
footer .last_line{
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 14px;
	color: #fff;
}